<h1><%= @comedian.name %></h1>
<%= image_tag ("#{@comedian.image}") %>
<h2>City of Origin: <%= @comedian.city %></h2>
<h2>Age: <%= @comedian.age %></h2>

<section id="comedian-description">
  <p><%= @comedian.description %></p>
</section>

<section id="joke-wrapper">
  <%= link_to "Tell me a joke", comedian_joke_path(@comedian) %>
  <% unless @joke.nil? %>
    <%= @joke.joke %>
  <% end %>
</section>
